#!/usr/bin/env bash

curl --silent --location --request POST 'http://{{ zabbix_server_ip }}:{{ zabbix_web_port }}/api_jsonrpc.php' \
--header 'Content-Type: application/json' \
--data '{
    "jsonrpc": "2.0",
    "method": "item.create",
    "id": 1,
    "auth": "{{ zabbix_auth_token.stdout }}",
    "params": {
        "name": "bpbootlist",
        "key_": "bpbootlist",
        "hostid": "10076",
        "type": 0,
        "value_type": 0,
        "applications": [
            "1230"
        ],
        "delay": "1m",
        "history": "15d"
    }
}'