#!/usr/bin/env bash

curl --silent --location --request POST 'http://{{ zabbix_server_ip }}:{{ zabbix_web_port }}/api_jsonrpc.php' \
--header 'Content-Type: application/json' \
--data '{
    "jsonrpc": "2.0",
    "method": "action.create",
    "auth": "{{ zabbix_auth_token.stdout }}",
    "id": 1,
    "params": {
        "name": "Slack - Report problems to Zabbix administrators",
        "status": "0",
        "eventsource": "0",
        "pause_suppressed": "1",
        "filter": {
            "evaltype": "0",
            "conditions": []
        },
        "operations": [
            {
                "operationtype": "0",
                "opmessage": {
                    "default_msg": "1",
                    "mediatypeid": "4"
                },
                "opmessage_grp": [
                    {
                        "usrgrpid": "7"
                    }
                ],
                "opmessage_usr": []
            }
        ],
        "recovery_operations": [
            {
                "operationtype": "11",
                "opmessage": {
                    "default_msg": 1
                }
            }
        ]
    }
}'
