#!/usr/bin/env bash

curl --silent --location --request POST 'http://{{ zabbix_server_ip }}:{{ zabbix_web_port }}/api_jsonrpc.php' \
--header 'Content-Type: application/json' \
--data '{
	"jsonrpc": "2.0",
	"method": "action.create",
	"id": 1,
	"auth": "{{ zabbix_auth_token.stdout }}",
	"params": {
		"name": "Linux Servers",
		"eventsource": 2,
		"status": 0,
		"esc_period": 120,
		"def_shortdata": "{HOST.HOST}",
		"def_longdata": "Host name: {HOST.HOST}\r\nHost IP: {HOST.IP}\r\nAgent port: {HOST.PORT}",
		"filter": {
			"evaltype": 0,
			"conditions": [
				{
					"conditiontype": 24,
					"operator": 2,
					"value": "{{ zabbix_host_metadata_linux }}"
				}
			]
		},
		"operations": [
			{
				"operationtype": 6,
				"optemplate": [
					{
						"templateid": "10001"
					},
					{
						"templateid": "10186"
					}
				]
			},
			{
				"operationtype": 4,
				"opgroup": [
					{
						"groupid": "2",
						"operationid": "4"
					}
				]
			},
			{
				"operationtype": 5,
				"opgroup": [
					{
						"groupid": "5",
						"operationid": "5"
					}
				]
			},
			{
				"operationtype": 10,
				"opinventory":
				{
					"inventory_mode": 1,
					"operationid": "10"
				}
			}
		]
	}
}'