.DS_Store
.vscode
roles/mysql/files/mysql-5-7.tar
roles/server/files/ibm-zabbix-server-mysql-centos7-v2.tar
roles/web/files/zabbix-web-nginx-mysql-alpine-4.0-latest.tar
roles/grafana/files/ibm-grafana.tar
roles/zabbix_agent/files/*.rpm
roles/zabbix_agent/files/*tar.gz
inventories/lab
inventories/lasa
roles/common/files/docker-ce-1903.tgz
roles/common/files/python2-pip.tgz
roles/common/files/login
roles/mysql/files/login
roles/server/files/login
roles/web/files/login
roles/grafana/files/login
roles/server/files/r3pas4sppsztkrlwxb9nymqvplb6uitl
roles/grafana/files/2mc8m1moeiktj60onhgery53c74z4au2
roles/agent/files/zabbix-agent-4.0.20-1.el7.x86_64.rpm
roles/mysql/files/brgtsisdt3ptf001-mysql.tar
roles/server/files/brgtsisdt3ptf001-zabbix-server-mysql.tar
roles/web/files/brgtsisdt3ptf001-zabbix-web-nginx-mysql.tar
roles/grafana/files/brgtsisdt3ptf001-grafana.tar
roles/common/files/gt91bz7jr8cmynjxl10qha4ouz08od5c
roles/common/files/docker-4.2.0.tar.gz
extras/offline/brgtsisdt3ptf001-grafana.tar
extras/offline/brgtsisdt3ptf001-mysql.tar
extras/offline/brgtsisdt3ptf001-zabbix-server-mysql.tar
extras/offline/brgtsisdt3ptf001-zabbix-web-nginx-mysql.tar
extras/monitoring.tgz
